# Ignore SQLite database file
backend/db.sqlite3
backend/dolphindb
flask/app/utils/export/
export/
flask/logs/
flask/logs/ibov_api.log
saved/
#backend/apps/endpoint/utils/export
# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore CSV files in backend directory
backend/*.csv

# Ignore static files
backend/staticfiles/

# Ignore the virtual environment directory
webenv/
backenv/

node_modules
